<template>
    <div class="finder-app">
        <div class="header"></div>
    </div>
</template>

<script>
    export default {
        name: "FinderApp"
    }
</script>

<style lang="scss">
    .finder-app {
        width: 100%;
        height: 500px;




    }
</style>