<template>
    <div class="hello">


        <FinderApp></FinderApp>

        <MyChart :mydata="[1,2,3]"></MyChart>
        <MyChart :mydata="[1,2,3]"></MyChart>
        <MyChart :mydata="[1,2,3]"></MyChart>
        <MyChart :mydata="[1,2,3]"></MyChart>
    </div>
</template>

<script>
    import MyChart from "./MyChart";
    import axios from 'axios'
    import FinderApp from "./finder/FinderApp";

    export default {
        name: 'HelloWorld',
        components: {FinderApp, MyChart},
        props: {
            msg: String
        },
        data() {
            return {
                timer: false,
                title1: "",
                title2: "",
                dataPoints1: [],
                dataPoints2: [],
                dataPoints3: [],
                dataPoints4: [],
                dataPoints5: [],
                dataPoints6: [],
            }
        },
        methods: {
            async update() {

                let res = await axios.get("//nus.pp.ua/westa/save.php?z=1");

                for (let item of res.data) {

                    this.dataPoints1.push({
                        x: new Date(item.unix_time * 1000),
                        y: item.bmp_t * 1,
                    });

                    this.dataPoints2.push({
                        x: new Date(item.unix_time * 1000),
                        y: item.bmp_p * 1,
                    });

                    this.dataPoints3.push({
                        x: new Date(item.unix_time * 1000),
                        y: item.bmp_a * 1,
                    });

                    this.dataPoints4.push({
                        x: new Date(item.unix_time * 1000),
                        y: item.dht_t * 1,
                    });

                    this.dataPoints5.push({
                        x: new Date(item.unix_time * 1000),
                        y: item.dht_h * 1,
                    });

                    this.dataPoints6.push({
                        x: new Date(item.unix_time * 1000),
                        y: item.sun * 1,
                    });

                }


            }
        },

        mounted() {
            this.update();
        }
    }
</script>

<style scoped lang="scss">

</style>
