<template>
    <div class="mychart">
        <div class="period">
            <a @click="period(4*7*24)">4 недели</a>
            <a @click="period(2*7*24)">2 недели</a>
            <a @click="period(7*24)">1 неделя</a>
            <a @click="period(3*24)">3 дня</a>
            <a @click="period(24)">1 день</a>
            <a @click="period(6)">6 часов</a>
            <a @click="period(3)">3 часа</a>
            <a @click="period(1)">1 час</a>
        </div>

        {{mydata}}
    </div>
</template>

<script>
    export default {
        name: "MyChart",
        props:["mydata"],
        methods: {
            period() {
                //
            }
        }
    }
</script>

<style lang="scss">

    .mychart {
        width: 50vw;
        height: 50vh;
        outline: 1px dashed #dddddd;
        float:left;
    }

    /* если меньше чем 1200px */
    @media screen and (max-width: 1200px) {
        .mychart {
            width: 100vw;
            height: 100vh;
        }
    }


    .period {
        a {
            border:1px dashed black;
        }
    }



</style>