<template>
    <div id="app">
        <!--<router-view/>-->
        <HelloWorld></HelloWorld>
    </div>
</template>

<script>
    import HelloWorld from "./components/HelloWorld";

    export default {
        components: {HelloWorld}
    }

</script>


<style lang="scss">
    html, body {
        margin: 0;
        padding: 0;
        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
</style>


